<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>HTML5 Login Form with validation Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../css/login.css">
  </head>
    <body>
    <div id="register-form-wrap">
      <h2>Register</h2>
      <form id="register-form" method="post" action = "http://localhost:8081/members/join">
        <p>
        <input type="text" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input type="text" id="password" name="password" placeholder="PassWord" required>
        </p>
        <p>
          <input type="text" id="name" name="name" placeholder="Name" required>
        </p>
        <p>
        <input type="submit" id="login" value="Join">
        </p>
        <input type="hidden" id="role" value="member">
      </form>
   </div>
    <script src="js/register.js"></script>
  </body>
</html>

